{{#hasExamples}}
describe('{{shortName}}', function() {
  {{#examples}}
  {{{setup}}}
  {{#list}}
  (function() {
    var spec = it('{{{actualEscaped}}} => {{{expectedEscaped}}}', function() {
      {{#hasCustomHandler}}
      var handler = exampleHandlers[{{handlerIndex}}];
      var result  = {{{actual}}};
      var match   = {{{outputPattern}}}.match(handler.pattern);
      handler.test(match, result);
      {{/hasCustomHandler}}
      {{^hasCustomHandler}}
      var result   = {{{actual}}};
      var expected = {{{expected}}};
      assertEquality(expected, result);
      {{/hasCustomHandler}}
    });

    spec.exampleId = '{{identifier}}-{{id}}';
    spec.actual = '{{{actualEscaped}}}';
    spec.expected = '{{{expectedEscaped}}}';
  }());
  {{/list}}
  {{/examples}}
});
{{/hasExamples}}
