{{#hasExamples}}
describe('{{shortName}}', function() {
  {{#examples}}
  {{{setup}}}
  {{#list}}
  (function() {
    var spec = it('{{{inputForJs}}} => {{{outputForJs}}}', function() {
      {{#hasCustomHandler}}
      var handler = exampleHandlers[{{handlerIndex}}];
      var result  = {{{input}}};
      var match   = {{{outputPattern}}}.match(handler.pattern);
      handler.test(match, result);
      {{/hasCustomHandler}}
      {{^hasCustomHandler}}
      var result   = {{{input}}};
      var expected = {{{output}}};
      assertEquality(expected, result);
      {{/hasCustomHandler}}
    });

    spec.exampleId = '{{identifier}}-{{id}}';
    spec.input = '{{{inputForJs}}}';
    spec.output = '{{{outputForJs}}}';
  }());
  {{/list}}
  {{/examples}}
});
{{/hasExamples}}
