<section class="typedef" id="{{identifier}}" data-filter="{{name}}">
    <h1>{{name}}</h1>

    {{{description}}}

    <div class="properties">
        <table>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
            </tr>

            {{#properties}}
            <tr>
                <td>{{name}}</td>
                <td>{{type}}</td>
                <td>{{{description}}}</td>
            </tr>
            {{/properties}}
        </table>
    </div>
</section>
