global.{{variable}} = require('{{{filePath}}}');

describe('{{variable}}', function() {
  {{#namespaces}}
  {{#hasExamples}}
  describe('{{namespace}}', function() {
    {{#allMembers}}
      {{> memberSpec}}
    {{/allMembers}}
  });
  {{/hasExamples}}
  {{/namespaces}}
});
