global.{{variable}} = require('{{{filePath}}}');

describe('{{variable}}', function() {
  {{#privateMembers}}
  var {{shortName}} = {{{source}}};
  {{/privateMembers}}
  {{#namespaces}}
  {{#hasExamples}}
  describe('{{namespace}}', function() {
    {{#allMembers}}
      {{> examples}}
    {{/allMembers}}
  });
  {{/hasExamples}}
  {{/namespaces}}
});
