{{#legalVariableName}}
var {{{variable}}} = global['{{{variable}}}'] = require('{{{location}}}');
{{/legalVariableName}}
{{^legalVariableName}}
global['{{{variable}}}'] = require('{{{location}}}');
{{/legalVariableName}}
