@import "bootstrap";

body {
  padding-bottom: 100px;
}

main {
  @extend .container;
}

header {
  @extend .page-header;

  .description {
    @extend .lead;
  }
}

#spec-failures {
  @extend .alert, .alert-danger;

  &:empty {
    display: none;
  }

  a {
    float: right;
    color: #ffb;

    &:hover {
      color: darken(#ffb, 10%);
    }
  }
}

.layout {
  @extend .row;

  .index {
    @extend .col-lg-3, .col-md-3;
  }

  article {
    @extend .col-lg-9, .col-md-9;
  }
}

nav {
  border-right: 1px solid black;

  ul {
    @extend .nav;

    li.nav-header {
      font-weight: bold;
      padding-left: 15px;

      a {
        margin-left: -15px;
      }
    }
  }
}

table {
  @extend .table, .table-striped, .table-hover;

  tr.failed {
    @extend tr.danger;
  }

  th, td {
    p {
      margin: 0;
    }
  }
}

.signature {
  table {
    tfoot {
      tr {
        background-color: darken(#ecf0f1, 20%);
      }
    }
  }
}

.examples {
  table {
    th, td {
      width: 40%;

      &:last-child {
        width: 20%;
      }
    }

    tr {
      td {
        transition: color 0.5s;
        transition: background-color 0.5s;
      }

      &.highlight td {
        color: #000;
        background-color: #ff8 !important;
      }
    }
  }
}

.perf {
  position: relative;

  button {
    @extend .btn, .btn-primary;
  }

  table {
    display: none;

    th, td {
      &:last-child {
        text-align: right;
      }
    }
  }

  &.loading {
    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #fff url("gears.gif") no-repeat center;
      opacity: 0.5;
    }
  }

  &.loading, &.loaded {
    table {
      display: table;
    }
  }
}
