<!DOCTYPE html>
<html>

<head>
    <title>Breakneck</title>

    <%= stylesheet_link_tag "index" %>
    <%= javascript_include_tag "index" %>
</head>

<body>
    <div id="left">
        <textarea></textarea>
    </div>

    <div id="splitter" draggable="true"></div>

    <div id="right">
        <iframe src="output.html" />
    </div>
</body>

</html>
