var actual = {{{actual}}};

if (typeof actual === 'string') {
  expect(actual).toMatch({{{match.1}}});
  return;
}

if (actual instanceof Array) {
  expect(actual.sort()).toEqual({{{match.1}}}.sort());
  return;
}

throw 'Unable to verify ' + typeof actual + ' with =~.';
