var {{{match.1}}} = jasmine.createSpy();

runs(function() {
  {{{actual}}}
  expect({{{match.1}}}).not.toHaveBeenCalled();
});

waitsFor(function() {
  return {{{match.1}}}.calls.length === {{{match.2}}};
});

runs(function() {
  expect({{{match.1}}}.calls.length).toEqual({{{match.2}}}, 'Expected {{{actualEscaped}}} to call {{{match.1}}} {{{match.2}}} time(s) asynchronously.');
});